
.bgimage {
  width:100%;
  height:500px;
  background: url('vital.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
li a {
  color:#000;
}
.bgimage h1 {
  margin-top: 90px;
  width:500px;
  font-family: Roboto;
  font-size: 50px;
  color:white;
  text-shadow:2px 2px #333;
}
p{
  color:blueviolet;
}
.btn{
 margin-left: 400px;
 
 padding:10px;
 color:white;
 font-size: 30px;
 border: white 3px solid;

}