
.bgimage {
  width:100%;
  height:500px;
  background: url('vital.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
li a {
  color:black !important;
}
.bgimage h1 {
  margin-top: 100px;
  width:500px;
  font-family: Roboto;
  font-size: 40px;
  color:white;
  font-weight:bolder;
  text-shadow:2px 2px #333;
}
p{
  color:blueviolet;
}
.btn{
 
 position: relative;
 left:50%;
 top:75%;
 padding:3px;
 color:white;
 font-size: 30px;
 font-weight: bold;
 border: white 3px solid;

}